.box{
    height: 20px;
    width: 20px;
    display: inline-block;
    position: relative;
    border: 1px solid;
    border-radius: 100%;
    animation: move 2s linear 0ms infinite;
    .circle{
        width: 10px;
        height: 10px;
        margin: 0;
        border-radius: 50%;
        background-color: #8c6c6c;
        position: absolute;
        transform-origin: center;
        left: -5px;
        &:nth-child(1) {
            right: -5px;
            left: auto;
            background: #535bf2;
        }
        &:nth-child(2) {
            bottom: -5px;
            left: 5px;
            background: salmon;
        }
    }
}

@keyframes move {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}
